<div class="row">
  <div class="col-md-6">
    <a routerLink="/" href=""><i class="fa fa-arrow-circle-left"></i> Back to Dashboard</a>
  </div>
  <div class="col-md-6">
   <div class="btn-group pull-right">
     <a [routerLink]="['/edit-client/'+id]" class="btn btn-secondary">Edit</a>
     <button class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
   </div>
  </div>
</div>
<hr>
<div class="card" *ngIf="client">
  <h4 class="card-header">{{client.firstName}} {{client.lastName}}</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <h5>Client ID: {{id}}</h5>
      </div>
      <div class="col-md-4">
      <h4 class="pull-right">Balance:
        <span [class.text-danger]="hasBalance" [class.text-success]="!hasBalance"> {{client.balance | currency:"USD"}}</span>
        <small><a (click)="showBalanceUpdateInput = !showBalanceUpdateInput" style="cursor: pointer"><i class="fa fa-pencil"></i></a></small>
       </h4>
        <div class="clearfix">
          <form *ngIf="showBalanceUpdateInput" (submit)="updateBalance(id)" class="form-inline pull-right">
            <div class="form-group">
              <input type="text" class="form-control updateBalance" [(ngModel)]="client.balance" name="balance">
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">
       Contact Email: {{client.email}}
      </li>
      <li class="list-group-item">
        Contact Phone: {{client.phone}}
      </li>
    </ul>
  </div>
</div>
